@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 
  height: 100vh; /* Add sufficient height to enable scrolling */
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
  width:100vw;
  overflow-x: hidden;
  
}